.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background: DodgerBlue;
  color: white;
}

.topnav .icon {
  display: none;
}

div.gallery {
  border: 1px solid #ccc;
  width: 239px;
  float: left;
  margin: 0 0.4em 0.4em 0;
}

div.gallery img {
  z-index: 9999;
}

.related-box,
.xrelated-box {
  margin: 0;
  padding: 0;
  height: auto;
  white-space: normal;
}

.related {
  float: left;
  height: auto;
  border: 1px solid #ccc;
  width: 235px;
  margin: 0 0.4em 0.4em 0;
  display: inline-block;
  cursor: pointer;
}

div.gallery img,
.related img {
  width: 100%;
  height: 186px;
}

.xrelated {
  float: left;
  height: 315px;
  border: 1px solid #ccc;
  width: 245px;
  margin: 0 0.4em 0.4em 0;
  display: inline-block;
  cursor: pointer;
}

.xrelated img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  float: left;
  border: 2px solid #eee;
  margin-right: 10px;
}

img.cover {
  height: 300px;
  width: auto;
}

.search form {
  float: right;
  margin: 8px 10px;
}

.search input {
  position: relative;
  top: 1.4px;
  float: left;
  background: #eee;
  font-style: italic;
  padding: 5px;
  border: 0;
  outline: none;
}

.search button {
  background: #fff;
  color: #000;
  padding: 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}

.scx {
  background-color: #232b34;
  color: #fff;
  font-size: 12px;
  border-radius: 50px;
  padding: 0px 7.3px;
  right: 70px;
  position: absolute;
  margin-top: 2.5px;
}

@media screen and (max-width: 600px) {
  .linesrc {
    clear: both;
    border-top: 1px solid grey;
    margin: 0 10px;
  }

  .search {
    width: 97%;
    margin: 1px 3px 8px 3px;
    text-align: center;
  }

  .search input {
    left: 6px;
    top: 0px;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .search button {
    right: 10px;
    position: absolute;
  }

  div.gallery {
    margin: 3px 1px;
    width: 100%;
  }

  .related {
    float: none;
    margin: 0 1px;
    width: 65%;
  }

  div.gallery img {
    height: auto;
  }

  .related img {
    display: block;
    height: 125px;
  }

  img.cover {
    height: 200px;
  }

  .xrelated {
    float: none;
    margin: 0 1px;
    height: 250px;
    width: 48%;
  }

  .topnav {
    background-color: #232b34;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav li.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {}

  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive li a {
    foat: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive li a {
    width: 100%;
  }

  .topnav.responsive li:nth-child(1) {
    overflow: auto;
  }

  .topnav.responsive li:nth-child(odd) {
    float: left;
    width: 50%;
  }

  .topnav.responsive li:nth-child(even) {
    float: right;
    width: 50%;
  }
}

.bg-dpink {
  background-color: #cc1262;
}

.bg-dviolet {
  background-color: #7b1fa3;
}

.bg-gold {
  background-color: #e5c100;
}

.bg-dblue {
  background-color: DodgerBlue;
}

.main-col {
  float: left;
  width: 77%;
}

.contlatest {
  width: 77%;
  margin: 30px auto;
}

.sidebar {
  float: left;
  width: 23%;
  padding-left: 20px;
}

.card {
  padding: 5px;
  background-color: #232b34;
  color: #f2f2f2;
  margin-top: 20px;
}

.row,
.rowform {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  min-height: 90vh;
}

.row:after,
.rowform:after {
  content: "";
  display: table;
  clear: both;
}

.footer-body {
  margin-top: 25px;
  border-top: 3px solid #1e90ff;
  font-size: 10pt;
  padding: 10px;
  color: #808080;
}

.footer-body a {
  color: #fff;
}

.footer {
  padding: 20px 10px 50px 10px;
  font-size: 9pt;
}

.hidden {
  display: none;
}

.footer a,
.txtwb {
  color: #f2f2f2;
}

.post-body {
  padding: 10px;
}

.col-form>input,
input[type=password],
input[type=url],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 5px;
  width: 100%;
}

btn-submit:hover {
  background-color: #45a049;
}

.container {
  margin: 25px 0;
}

.form-group {
  border-radius: 5px;
  padding: 10px;
}

.col-form {
  width: 100%;
  margin-top: 0;
}

.title-post {
  color: #f2f2f2;
  font-family: verdana;
  font-size: 150%;
}

.desc-body {
  height: 220px;
}

.desc-body-related {
  height: 150px;
}

.thumb-title,
.thumb-title-related {
  position: relative;
  bottom: 8px;
  margin: 0;
  padding: 10px;
  color: #fff;
}

.desc-anime,
.desc-anime-related {
  padding: 15px;
  height: 100%;
}

.desc-anime span,
.desc-anime-related span {
  display: block;
}

.thumb-title-related,
.desc-anime-related span {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
  #detectmob {
    display: none;
  }

  .main-col,
  .sidebar,
  .contlatest {
    width: 100%;
    padding: 0;
  }

  .title-post {
    font-size: 120%;
  }

  .related-box,
  .xrelated-box {
    height: 130px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .xrelated-box {
    height: 260px;
  }
}

.btm-line,
.btm-linex {
  border-bottom: 1px solid #7d7d7d;
}

.details {
  width: 100%;
  overflow: hidden;
  padding: 0;
  padding-bottom: 10px;
  margin: 0
}

.dtlist {
  color: #f2f2f2;
  float: left;
  width: 20%;
  padding: 5px 0;
  margin: 0;
}

.ddlist {
  color: #f2f2f2;
  float: left;
  width: 80%;
  padding: 5px 0;
  margin: 0;
}

.ddlist>a {
  color: #21CB73;
}

ol.list {
  list-style: none;
  background-color: #666;
  counter-reset: li;
  padding: 0;
  margin: 0;
}

ol.list>li {
  counter-increment: li;
  padding: 25px;
}

ol.list>li::before {
  content: "["counter(li)"]";
  color: #fff;
  display: inline-block;
  width: 1em;
  margin: 0;
  padding: 5px;
  text-align: right;
  direction: rtl
}

ol.list>li>a {
  color: #fff;
  margin: 5px;
  padding: 5px;
}

ol.list>li:nth-child(odd) {
  background-color: #444;
}

ol.list>li:nth-child(even) {
  background-color: #666;
}

.line-card {
  display: block;
  margin: 10px;
  border-bottom: 1px solid #EEE;
  transition: background-color 0.5s ease;
}

.line-card>h2 {
  text-transform: uppercase;
}

.line-card p {
  color: #f2f2f2;
}

.panel-body {
  background-color: #232b34;
  color: #f2f2f2;
  padding: 1px 20px;
}

.center {
  text-align: center;
}

.box-center {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  float: none;
}

.btn {
  display: inline-block;
  border: none;
  color: white;
  padding: 12px 30px;
  margin: 10px;
  font-size: 20px;
  max-width: 250px;
}

.btn:hover {
  background-color: grey;
}

.comment-box {
  margin: 10px;
}

p.success {
  color: green;
}

.clear {
  clear: both;
}

.pagination {
  display: inline-block;
}

.pagination a,
.pagination span {
  color: #f2f2f2;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination .bg-gdark {
  background-color: #f2f2f2;
  color: #232b34;
}

.pagination span.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination span.disabled {
  background-color: #232b34;
  color: #f2f2f2;
  border: 1px solid #ddd:
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

ol.breadcrumb {
  padding: 8px 14px;
  list-style: none;
  background-color: #232b34;
  color: #7d7d7d;
}

ol.breadcrumb li {
  display: inline;
  font-size: 14px;
}

ol.breadcrumb li+li:before {
  padding: 3px;
  color: #fff;
  content: "\203A";
}

ol.breadcrumb li.last a {
  color: #7d7d7d;
}

ol.breadcrumb li a {
  color: #b8b8b8;
  text-decoration: none;
}

ol.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.responsive {
  width: 100%;
  height: auto;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tableInfo {
  color: #f2f2f2 !important;
  background-color: #232b34;
  margin: 10px auto;
  padding: 0;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}

.panel-heading {
  color: white;
  padding: auto 5px;
  background-color: #55778c;
}

.alert,
info {
  background-color: #e1f7d5;
  padding: 8px;
}

ul.info {
  padding 0;
}

.post-content {
  padding: 8px;
}

.go {
  background-color: #3c4044;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 11pt;
}

.go a {
  color: #f9f9f9;
  margin: 8px 2px;
  background-color: #21CB73;
  padding: 1px 8px;
  font-weigth: bold;
  display: inline-block;
}

.go a:hover {
  background-color: #00b0e7;
}

a.report:link {
  color: orange;
}

.date {
  color: grey;
  font-size: 10pt;
}

.credit {
  color: grey;
}

#kw {
  color: grey;
  font-size: 7pt;
}

.infov2 {
  background-color: #e1f7d5;
  padding: 8px;
}

.listpanel {
  text-transform: uppercase;
  padding: 10px;
  background: #55778c;
  color: #fff;
}

.bglist {
  background: #ffffff;
  font-size: 11pt;
}

.bglist a:link {
  color: #cc1262;
}

.imgpost {
  border: 1px solid #d2d2d2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)margin-left: auto;
  margin-right: auto;
}

.alist {
  display: block;
  margin: 5px;
}

a.alist:link {
  color: #cc1262;
}

body,
html {
  margin: 0;
  height: 100%;
  line-height: 1.8;
  background: white;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 15px
}

h2,
h4 {
  font-size: 20px
}

h3 {
  font-size: 24px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

* {
  box-sizing: border-box;
}

* {
  -webkit-backface-vibisility: hidden;
  -moz-backface-vibisility: hidden;
  -ms-backface-vibisility: hidden;
  backface-vibisility: hidden;
}

a {
  text-decoration: none;
}

.kw {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kw span {
  color: grey;
  font-size: 12px;
  display: inline;
  text-align: center;
  white-space: nowrap;
}

.panel {
  background-color: #3c4044;
  color: #fff;
  margin: 20px 0;
  padding: 20px;
}

.panel a,
.panel span {
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
}

.panel a:hover,
.panel span:hover {
  background-color: grey;
}

.bg-red-pale {
  background-color: #ffab99;
}

.bg-gdark {
  background-color: #232b34;
}

.jpanel {
  max-width: 1000px;
  margin: 0 auto;
  padding: 8px;
}

.jnotif {
  margin: 0 auto;
  padding: 8px;
}

.jnotif>h3 {
  font-size: 13pt;
  margin: 5px;
}

.jpanel>h3 {
  margin: 5px;
}

.tombol {
  background: #55778c;
  color: #fff;
  text-align: center;
}

.bg-orange {
  background-color: orange;
}

.bg-green-half {
  background-color: #e1f7d5;
}

.boxclose {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

.jcontent {
  font-size: 14px;
}

.infolist li {
  margin-bottom: 10px;
}

.infolist li a {
  color: #f2f2f2;
}

.jayapanel h3 {
  font-size: 13px;
  padding: 5px 0;
  margin-bottom: 7px;
  color: #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  position: relative;
}

.jayapanel h3:after {
  width: 70%;
  border-bottom: 3px solid #198bff;
  content: "";
  bottom: -3px;
  right: 0;
  position: absolute;
}

.jcontent ul li {
  list-style: disc;
}

.jcontent ul {
  margin: 15px;
  padding: 10px;
}

.jcontent ol {
  margin: 15px;
  padding: 10px;
}

.jcontent ol li {
  list-style: decimal;
}

.jayapanel {
  margin-bottom: 7px;
}

.jcontent img {
  max-width: 90%;
}

.downloadlist ul,
.downloadlist ul li,
ul.dlulist,
ul.dlulist>ul,
.dlulist ul li {
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
}

.downloadlist>h2,
.dlulist>li {
  font-size: 14px;
  padding: 4px 10px;
  color: #FFF;
  margin: 5px 0;
  font-weight: bold;
  background-color: #202121;
}

.downloadlist ul,
.dlulist ul {
  padding: 2px;
  color: #555;
  border-radius: 3px;
  margin: 0 6px;
  text-align: center;
}

.downloadlist ul a,
.dlulist ul a {
  color: #fff;
  font-weight: bold;
}

.downloadlist ul a:hover,
.dlulist ul a:hover {
  text-decoration: underline
}

.downloadlist ul li,
.dlulist ul li {
  margin: 6px;
  padding: 8px;
  background-color: #3c4044;
  color: #fff;
  border: 1px solid #232b34;
}

.bottom-line {
  background-color: red;
  border-bottom: 1px solid #fff;
}

.downloadlist ul strong,
.dlulist ul strong {
  background: #198bff;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  margin-right: 5px;
}

.maxdl {
  font-size: 12px;
  font-weight: 500;
}

.maxdl .maxtitle,
.maxlist {
  padding: 4px 10px;
  color: #FFF;
  margin: 5px 0;
  font-weight: bold;
  background-color: #1a1a1a;
  text-align: left;
}

.maxlilink {
  color: #555;
}

.maxdl .maxurl {
  padding: 4px;
  color: #7d7d7d;
  border-radius: 3px;
  margin-left: 6px;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maxurl a {
  color: #fff;
  font-weight: bold;
}

.maxurl a:hover {
  text-decoration: underline
}

.maxurl strong {
  background: #198bff;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  margin-right: 5px;
}

.jayainfo h2 {
  margin-bottom: 10px;
}

.content h5,
.jayainfo h5,
.trailer h5 {
  padding: 4px 0 10px;
  border-bottom: 3px solid #00b0e7;
  margin-bottom: 10px;
  color: #f2f2f2;
}

.jayainfo table {
  font-size: 12px;
  width: 100%;
}

.jayainfo table .jtable {
  width: 20%;
  border-left: 5px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.jayainfo table td {
  line-height: 20px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.content,
.tableinfo tr {
  line-height: 25px;
}

.jayainfo table tr:hover .jtable {
  border-left: 5px solid #00b0e7
}

.jayainfo table tr:hover td {
  border-bottom: 1px solid #00b0e7
}

.bg-green {
  background-color: #0f9d58;
}

.bg-greenblue {
  background-color: #2abb9c;
}

.modestream {
  padding: 5px;
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: red;
}

.text-orange {
  color: orange;
}

.text-dkg {
  color: #008080;
}

text-green {
  color: green;
}

.text-bgreen {
  color: #2abb9c;
}

.text-dgreen {
  color: #232b32;
}

.anilist li a {
  color: #333
}

.new-alert {
  background-color: #3c4044;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.new-link a:link,
.new-alert a:link {
  color: #f2f2f2;
  font-weight: bold;
}

.btn-comment {
  margin: 25px auto;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.btn-comment:hover {
  background-color: grey;
}

.hide {
  display: none;
}

.bg-bgreen {
  background-color: #2abb9c;
}

.alert {
  background-color: #008080;
  padding: 20px;
  color: #f2f2f2;
}

.alert a {
  font-weight: bold;
  color: #fff
}

.tdcolor,
.tombol {
  background-color: #1a1a1a;
}

.btn-submit {
  background-color: #008080;
}

.btn-submit:hover {
  background-color: grey
}

.go a {
  background-color: DodgerBlue;
}

.go a:hover {
  background-color: grey;
}

.topnav {
  background-color: #232b34;
}

ul.maxullink {
  padding-left: 20px;
  list-style-position: outside;
}

.maxullink>li:before {
  content: '';
  display: block;
  height: 1px;
}

.maxullink>li>div {
  margin: 4px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.maxullink>li>div>a,
a.glink {
  color: #f2f2f2;
}

.container-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 35px 20px;
}

.container-sf {
  margin: 0 auto;
  max-width: 850px;
  padding: 35px 20px;
}

img.pic-profile,
img.thumb-profile {
  text-align: center;
  width: 150px;
  height: 150px;
  border: 3px solid grey;
  border-radius: 50%;
}

img.thumb-profile {
  width: 50px;
}

.divTable {
  display: table;
  width: 100%;
}

.divTableBody {
  display: table-row-group;
}

.divTableRow {
  display: table-row;
}

.divTableCell,
.divTableHead {
  text-align: center;
  display: table-cell;
  padding: 3px 10px;
  color: #013e7f;
  background-color: #ffffff;
  font-weight: bold;
}

.divTableCell a {
  color: #013e7f;
}

.divTableCell:nth-child(2) {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.cabinet_item {
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}

.cabinet_item a {
  color: #074a8c;
}

.cabinet_item:nth-child(even) {
  background-color: #f3f3f3;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.btnList {
  float: right;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btnList:hover {
  background-color: #ddd;
}

.btnList.btnActive {
  background-color: #666;
  color: white;
}

.dlgo {
  outline: none;
  Ãƒâ€š border: none;
  margin: 5px;
  font-size: Ãƒâ€š 16px;
  padding: 10px 50px;
  text-transform: uppercase;
  text-decoration: Ãƒâ€š none;
  color: #fff;
}

a.dlgo {
  color: #fff;
}

.dlgo:hover {
  background-color: grey;
}

.bg-half-orange {
  background-color: #f2b247;
}

.bg-red {
  background-color: red;
}

.bg-lg {
  background-color: #232b34;
  color: #f2f2f2;
}

.bg-dg {
  background-color: #2c3e51;
}

.post-user {
  padding: 15px;
  color: grey;
}

.post-user img {
  float: left;
  height: 50px;
  margin: 0 15px 10px 0;
}

.post-user a {
  color: #000;
  font-size: 20px;
}

.stats-post {
  color: grey;
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.stats-post span {
  display: table-cell;
  padding: 5px;
}

.stats-post span:nth-child(2) {
  width: 33%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.small-btn {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.jcomment {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 2px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.time-left {
  font-size: 10px;
  color: #999;
}

#msg,
#ntf {
  position: relative;
  display: inline-block;
}

.notif-badge {
  padding: 2px 7px;
  border-radius: 50%;
  background: #d80000;
  color: white;
}

.tormsg,
.fromrmsg {
  padding: 2px 8px;
  margin: 2px 0;
  border-radius: 13px;
}

.tormsg {
  color: #000;
  background-color: #eee;
  float: left;
}

.bg-eee {
  background-color: #eee;
}

.fromrmsg {
  color: #fff;
  background-color: dodgerblue;
  float: right;
}

.time-ago {
  font-size: 9px;
}

.tormsg:hover,
.fromrmsg:hover {
  color: #fff;
  background-color: grey;
}

.jbtm-line {
  border-bottom: 1px solid #e0e0e0;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.post-user {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.iconsgts {
  position: relative;
  top: 9px;
  margin-right: 2px;
  object-fit: cover;
}

#suggesstion-box {
  bottom: 0;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

ul.suggestlist {
  border-top: #A9A9A91px solid;
}

.suggestlist {
  list-style: none;
  margin-top: -3px;
  padding: 0;
}

.suggestlist>li>a,
.suggestlist>li>div {
  display: block;
  padding: 3px 10px 10px 10px;
  border-bottom: #A9A9A9 1px solid;
  background-color: #313840;
  color: #f2f2f2;
}

.suggestlist>li>a {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestlist>li>a:hover,
.suggestlist>li>div:hover {
  background-color: #3c4044;
  color: #fff;
  cursor: pointer;
}

.othereps {
  background-color: #3c4044;
  color: #fff;
  display: block;
  padding: 5px;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}

.othereps:hover {
  background-color: #232b34;
}

.eps-scroll {
  height: 200px;
  overflow: scroll;
}

.nw>.maxurl {
  margin: 10px;
  padding: 8px;
  background-color: #3c4044;
  color: #fff;
  border: 1px solid #232b34;
  text-align: center;
  display: block;
  white-space: normal;
  border-radius: 0
}

.ptitle {
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #232b34;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sm-icons {
  position: relative;
  top: 15px;
  margin: 0;
  white-space: nowrap;
}

.sm-icons a,
.sm-icons span {
  font-size: 10pt;
  display: inline;
  text-decoration: none;
  padding: 6px;
  color: #f2f2f2;
}

.sm-icons span:nth-child(1) i {
  color: #3B5998;
}

.sm-icons span:nth-child(2) i {
  color: #4099FF;
}

.sm-icons span:nth-child(3) i {
  color: #128c7e;
}

.sm-icons span:nth-child(4) i {
  color: #1e90ff;
  padding: 0 5px 0 13px;
  border-left: 2px solid #eee;
}

.sm-icons span:nth-child(5) {
  color: grey;
}

.sm-icons span i:hover {
  color: black;
}

.sm-icons>span>span {
  color: #f2f2f2;
}

.sinops {
  font-size: 9pt;
}

.sinops a {
  color: #2196F3;
}

.linklist {
  list-style: none;
  padding-left: 0;
  margin: 0padding:0;
}

.linklist li {}

.linklist a {
  background-color: #3c4044;
  color: #fff;
  border-left: 8px solid dodgerblue;
  padding: 5px 8px;
  margin: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: block;
}

h3.tb {
  color: #2282d6;
}

.abjme {
  overflow: hidden;
}

.abjlist,
.prtlist {
  text-align: center;
  margin: 8px
}

.prtlist {
  margin: 8px auto;
}

.abjlist a,
.prtlist div {
  background-color: #3c4044;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 4px 8px;
  color: #fff;
  font-size: 11px;
  float: left;
  margin: 1px;
  border: 1px solid #232b34;
}

.prtlist div {
  font-size: 14px;
  float: none;
  display: inline-block;
  margin: 2.6px 1px;
}

.abjlist a:hover,
.prtlist div:hover,
.prtlist div.prtlatv {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  text-decoration: none
}

.infofaqs li {
  margin-top: 5px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top5px {
  position: relative;
  top: 5px;
}

.eplist {
  position: absolute;
  background-color: #232b34;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
  padding: 1px 6px;
  top: 0;
  left: 0;
  font-size: 14px;
  opacity: 0.9;
}

.starlist,
.titlelist {
  position: absolute;
  color: #fff;
  padding: 1px 6px;
  opacity: 0.9;
}

.titlelist {
  background-color: #232b34;
  bottom: 0;
  width: 100%;
}

.titlelist h2 {
  margin: 0;
  font-size: 15px
}

.starlist {
  background-color: orange;
  right: 0;
  top: 45%;
}

.ellips,
.tublok {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellips {
  white-space: nowrap;
}

.tublok {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.gallery img {
  display: block;
}

.jbox {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  word-wrap: break-word;
}

.jbox:link,
.jbox a {
  color: #1E90FF !important;
}

.clred,
.clred:link {
  color: #cc5050 !important;
}

.clorange,
.clorange:link {
  color: orange !important;
}

.clgreen,
.clgreen:link {
  color: #008080 !important;
}

.clblue,
.clblue:link {
  color: #1E90FF !important;
}

.f10 {
  font-size: 10pt;
}

.mrgbtm15 {
  margin-bottom: 15px;
}

.rerandom {
  border-radius: 50%;
  float: right;
  background-color: #66bb6a;
}

.rerandom:hover {
  background-color: grey;
}

@media screen and (min-width:800px) {
  .rerandom {
    padding: 10px;
  }

  ul.infopost {
    padding: 25px;
  }
}

.tab {
  overflow: hidden;
  background-color: #000;
  padding: 13px 2px 0 2px;
}

.tab button {
  background-color: #000;
  color: #f2f2f2;
  float: left;
  border: none;
  border-radius: 3px 3px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 14px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 700;
}

.tab button:hover {
  background-color: #191d21;
}

.tab button.active {
  background-color: #232b34;
}

.tabcontent {
  display: none;
  padding: 0;
  border-top: none;
  background-color: #232b34;
  color: #fff;
}

.icspc {
  margin-right: 14px;
}

@media screen and (max-width:800px) {
  .icspc {
    margin-right: 0;
  }

  .btn-reset {
    color: #fff;
    padding: 1px 5px;
  }

  .bg-dred {
    background-color: #CD5C5C;
  }
}

.clearfix {
  margin: 0;
  overflow: auto;
}

.text-link {
  color: grey;
}

.text-link a {
  color: #2196F3;
}

.infopagelist ul,
.infopagelist ul li {
  list-style-type: none;
}

.infopagelist ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infopagelist ul li {
  display: inline;
  white-space: nowrap;
}

.infopagelist ul li a {
  color: #2196F3;
}

.infopagelist {
  margin-right: 3px;
}

h2.tlist {
  color: #2196F3;
  font-size: 12pt;
  margin: 0;
  display: inline;
}

.margin-btm-8px {
  margin-bottom: 8px;
}

ol.animelist {
  list-style: none;
  background-color: #666;
  counter-reset: li;
  padding: 0;
  margin: 0;
}

ol.animelist>li {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  counter-increment: li;
  padding: 15px;
}

ol.animelist>li::before {
  content: "["counter(li)"]";
  color: #000;
  display: inline;
  width: 1em;
  margin: 0;
  margin-left: 5px;
  padding: 1px;
  text-align: right;
  direction: rtl
}

ol.animelist>li>a {
  color: #000;
  margin: 5px;
  padding: 5px;
  display: inline;
  white-space: nowrap;
}

ol.animelist>li:nth-child(odd) {
  background-color: #e0e0e0;
}

ol.animelist>li:nth-child(even) {
  background-color: #eee;
}

button.dwto:focus {
  outline: none;
}

.dwto {
  outline: none;
  border: none;
  margin: 5px;
  font-size: 16px;
  padding: 10px 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

a.dwto,
h6 {
  color: #fff;
}

.dwto:hover {
  background-color: grey;
}

.bg-hge {
  background-color: #f2b247;
}

.bg-gb {
  background-color: #2abb9c;
}

.sdw {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.sdw:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

reen {
  background-color: #0f9d58;
}

.eplist {
  position: absolute;
  background-color: #232b34;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
  padding: 1px 6px;
  top: 0;
  left: 0;
  font-size: 14px;
  opacity: 0.9;
}

.contstream {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-stream {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

ul.infopost>li>span>a:link {
  color: #f2f2f2;
}

.jmstream ul,
.jmstream ul li {
  list-style: none;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial
}

.jmstream h3 {
  float: left;
  margin-right: 10px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 500
}

.jmstream ul {
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  color: #eee;
  text-decoration: none;
  display: inline-block;
  width: 32%;
  margin-left: 6px;
  float: left;
  cursor: pointer;
  padding: 5px
}

.jmstream li {
  display: none;
  cursor: pointer
}

.jmstream li div {
  border-top: 1px solid #fff;
  color: #fff
}

.jmstream li {
  display: none;
  cursor: pointer
}

.jmstream li div:hover {
  background-color: #000;
  color: #fff
}

.jmstream {
  overflow: hidden;
  margin-top: 10px
}

.jmstream .m360p {
  background-color: #2699d0;
  opacity: 1;
}

.jmstream .m480p {
  background-color: #2E8B57;
}

.jmstream .m720p {
  background: #b93535;
  opacity: 1
}

.jstrm {}

#lightsVideo {
  position: relative;
  z-index: 102;
}

#switch {
  padding: 8px;
}

.lightSwitcher {
  margin: 5px;
  display: inline-block;
  background-color: #da4454;
  padding: 0 5px;
  color: #fff;
  float: right;
}

.lightSwitcher:hover {
  background-color: grey;
  color: #fff;
}

.turnedOff {
  background-color: #3CB371 !important;
  color: #fff !important;
}

#lightsoff {
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

ul.postlist {
  font-size: 9pt;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 13px;
}

.postlist li {
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postlist li a {
  color: #2196F3;
}

.fleft {
  float: left;
}

.flir {
  float: right;
  margin: 7px 0px;
}

.inpfleft,
.flir a {
  border: 2px solid #0065ad;
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
  text-decoration: none;
}

.flir a:hover,
.fleft a:hover {
  background: #0065ad;
}

.prevnext {
  margin: 6px 0;
  overflow: hidden;
}

@media only screen and (max-width:425px) {
  .fleft {
    width: 100%;
  }

  #selectcog {
    width: 100%;
  }

  .flir {
    width: 100%;
  }

  .flir a {
    width: 33%;
    float: left;
    height: 30px;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (max-width:375px) {
  .jmstream ul {
    width: 31%;
  }
}

@media only screen and (max-width:320px) {
  .jmstream ul {
    width: 31%;
  }

  .flir a {
    height: 45px;
    padding: 0;
  }
}

.fs9pt {
  font-size: 10pt;
}

.sinops {
  font-size: 9pt;
}

.sinops a {
  color: #2196F3;
}

.hrsys {
  margin-right: 5px;
  background-color: #ddd;
  height: 1px;
  border: 0;
}

.acgstrm {
  background-color: #000;
  color: #fff
}

.
}

.f10 {
  font-size: 10pt;
}

.mrgbtm15 {
  margin-bottom: 15px;
}

.strmntf {
  width: 100%
}

@media screen and (min-width:800px) {
  .strmntf {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

  .strmfw,
  .strmntf {
    width: 1000px
  }

  ul.infopost {
    padding: 25px;
  }
}

.mirfleft {
  float: left;
}

.mirvid {
  border: 2px solid #0065ad;
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
  text-decoration: none;
}

.navepbtn {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
}

.navepbtn>a {
  width: 49%;
  display: inline-block;
  margin: 0;
  padding: 5px;
  background-color: #1e90ff;
  color: #fff;
}

.navepbtn>a>strong {
  font-size: 14pt
}

.vignette {
  position: relative;
}

.vignette img {
  display: block;
}

.vignette:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 -15px 25px rgba(35, 43, 52, 1) inset;
}

.bg-jdk {
  background-color: #232b34;
}

.blur {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.concover {
  position: relative;
  top: 0%;
  left: 0%;
}

.xptitle {
  background-color: #232b34;
  color: #fff;
  margin: 0;
  padding: 100px 13px 12px 13px;
  font-size: 20px;
  font-family: Open Sans;
}

.postcover {
  position: absolute;
  border: 3px solid #fff;
  bottom: -90px;
  border-radius: 2px;
  left: 33%;
}

.topmenu {
  background-color: #000;
  text-align: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.topmenu>nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topmenu>nav>ul>li {
  float: left;
}

.topmenu>nav>ul>li.mr {
  float: right;
  background-color: #232b34;
  margin-left: 2px;
}

.topmenu>nav>ul>li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 10px;
  text-decoration: none;
}

.menu-right {
  float: right;
}

.clear {
  clear: both;
}

.bg-dark {
  background-color: #232b34;
}

.bg-white {
  background-color: #232b34;
  color: #f2f2f2;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: #232b34;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 11px;
  margin: 0;
}

.dropdowns {
  display: none;
  position: absolute;
  background-color: #394047;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdowns a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {
  background-color: #ddd;
}

.showdd {
  display: block;
}

.thumbhd {
  font-weight: bold;
  text-align: center;
  padding: 5px 12px 5px 12px;
  margin: 8px;
  border-radius: 10px;
  display: inline-block;
}

.thumbhd>span {
  position: relative;
  margin-right: 3px;
  bottom: 5px;
}

.fright,
.lightdark {
  float: right;
}

.lightdark {
  margin-right: 13px;
}

.switch,
.switchld {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top: 7px;
}

.switchld {
  height: 10px;
  top: 5px;
}

.switch input,
.switchld input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #66bb6a;
}

input:focus+.slider {
  box-shadow: 0 0 1px #66bb6a;
}

input:checked+.slider:before,
input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round,
.slider.roundld {
  color: #fff;
  font-size: 10pt;
  border-radius: 20px;
  right: -2px;
  vertical-align: middle;
}

.slider.round:before,
.slider.roundld:before {
  border-radius: 50%;
  padding: 1px;
}

.slider.roundld:before {
  background-color: #000;
  vertical-align: middle;
  text-align: center;
}

.fa-sun-o,
.fa-moon-o {
  line-height: inherit;
}

a.navatv,
.topmenu>nav>ul>li.navatv>a {
  background-color: #ddd;
  color: black;
}

.xlogo {
  color: #fff;
  bottom: 12.2px;
}

.xlogo>a {
  margin-left: 2px;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 5px;
  color: #fff;
  border: 1px solid;
  border-color: #ff4aa5 #ff4aa5 #0094ff #0094ff;
  font-size: 17px;
}

.xlogo>a:hover {
  background-color: #fff;
  color: #000;
}

.conthome {
  margin: 100px 10px;
}

.centerelm {
  margin: 0 auto;
  padding: 0 auto;
}

.homesearch {
  max-width: 600px;
  padding: 5px 40px;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin: 25px auto;
}

.homesearch input[type=text] {
  background: 0;
  border: 0;
  text-align: left;
  width: 100%;
  padding: 12px;
  resize: vertical;
}

.homesearch button {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  position: absolute;
  left: 14px;
  bottom: 14px;
  font-size: 20px;
}

.homesearch input[type=text]:focus,
.homesearch button:focus {
  outline: none;
}

.homesearch span {
  position: absolute;
  right: 14px;
  bottom: 8px;
  font-size: 20px;
}

.contpt select {
  width: 100px;
  padding: 2px;
}

.panelborder {
  font-weight: bold;
  text-align: center;
  padding: 8px 15px;
  font-size: 18pxmargin:8px;
  border-radius: 50px;
  background-color: #232b34;
  color: #f2f2f2;
}

.panelborder:hover {
  background-color: #ddd;
  color: #000;
}

.txtld {
  color: #f2f2f2;
}

.txtl>a {
  color: #b8b8b8 !important;
}

#randPost {
  color: #f2f2f2;
}

.conticon {
  margin: 0;
  padding: 0 5px 20px 5px;
}

.tablist,
.boltab,
.boltab>h2,
h2.titletab {
  margin: 2px 0;
  background-color: #3c4044;
  padding: 5px 11px;
}

.tablist a,
.boltab a {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 100%;
  color: #a2d4fc;
}

.tablist>span,
.desctab,
.boltab p {
  text-align: left;
  display: block;
  font-size: 13px;
}

.boltab>h2,
h2.titletab {
  font-size: 15px;
}

.darktxt {
  color: grey;
}

.spacetab {
  font-size: 12px;
}

.infostrm {
  border-top: 1px solid #7d7d7d;
  margin-top: 45px;
  padding: 5px;
}

.navplay ul.playerlist li.playli ul li {
  text-overflow: ellipsis;
  white-space: nowrap
}

.navplay ul.playerlist,
.navplay ul.playerlist li.playli ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.navplay ul.playerlist {
  float: right;
  position: relative
}

.navplay ul.playerlist li.playli {
  padding: 4px 10px;
  float: left;
  font-size: 15px;
  width: 150px;
  cursor: pointer;
  background-color: #3a9356;
  color: #fff
}

.navplay ul.playerlist li.playli i {
  float: right;
  position: relative;
  top: 4.5px
}

.navplay ul.playerlist li.playli:hover>li {
  background: #000;
  color: #fff
}

.navplay ul.playerlist li.playli:hover>div i {
  color: #70a5e2
}

.navplay ul.playerlist li.playli ul {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 99;
  padding-bottom: 10px;
  width: 150px
}

.navplay ul.playerlist li.playli:hover>ul {
  display: block
}

.navplay ul.playerlist li.playli ul li {
  width: 100%;
  border-bottom: solid 1px #1e222b;
  float: left
}

.navplay ul.playerlist li.playli ul li:last-child {
  border-bottom: 0
}

.navplay ul.playerlist li.playli ul li {
  padding: 10px 20px;
  font-size: 12px;
  float: left;
  font-family: sans-serif;
  font-weight: 600;
  width: 150px;
  overflow: hidden;
  text-align: left;
  background-color: #000;
  color: #747d90
}

.navplay ul.playerlist li.playli ul li.jplayselect,
.navplay ul.playerlist li.playli ul li:hover {
  color: #70a5e2
}

.navplay ul.playerlist li.playli ul li.jplayselectr {
  color: #C21E56;
}

.jnxcontable {
  border: 1px solid #5e5e5e;
  width: 100%;
  height: 100%;
  overflow: auto
}

.jnxtable th {
  background-color: #3c4044;
  color: #fff;
}

.jnxtable a {
  color: #5a9dfa
}